body{
    background-color: rgb(123, 154, 177);
}
.center{
    background-color: rgb(81, 101, 116);
    max-width: 500px;
    height: 550px;
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}
.head_page{
    margin-top: 20px;
}
.music_img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 0 1px 20px 0 rgba(255, 255, 255, 0.28);
}
.music_img_div{
    text-align: center;
}
.buttons button{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
    box-shadow: 0 1px 15px 0 rgba(255, 255, 255, 0.28);
    background-color: rgb(255, 154, 89);
}
.buttons button:hover{
   
    background-color: rgb(254, 126, 46);
}
.icon{
    color: white;
}
@media only screen and (max-width: 600px) {
    .center {
       position: absolute;
       top: 18%;
    }
  }